body {
  font-family: sans-serif;
}

main {
  max-width: 45em;
  margin: 0 auto;
}

header {
  margin: 0 auto;
  color: rgb(238, 162, 162);
}

textarea {
  background-color: rgb(239, 235, 220);
  border: 0;
  border-radius: .3em;
  color: rgb(64, 71, 93);
  font-family: sans-serif;
  height: 7em;
  margin: .7em 0;
  padding: .5em;
  width: 75%;
}

button {
  background-color: rgb(239, 235, 220);
  border: 0;
  border-radius: .3em;
  line-height: 3.5em;
  width: 18%;
  color: rgb(64, 71, 93);
  position: relative;
  top: -4.5em;
  margin: 0;
}

button img {
  vertical-align: middle;
}

footer {
  color: rgb(194, 189, 169);
  font-size: 80%;
  margin: 0 auto;
  max-width: 45em;
  text-align: center;
}

footer a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(194, 189, 169);
}